body{
    background-color: lightgray;
    background-image: url("back.jpg");
}

.header{
    background-color: black;
    color:white;
    text-align: center;
    padding: 10px;
}

.header h2{
    text-align: center;
}

.header ul{
    text-align: center;
}
.header ul li{

    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    display: inline-block;
    width: 10%;
    font-size: 20px;
    list-style-type: none;
  
}

.header ul li:hover{
    color: red;
}

.Box-News{

    background-color: #f6feff;
    margin-left: 5%;
    margin-top: 1%;
    margin-right: 5%;
    margin-bottom: 1%;
    height: 650px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 20px;
    
    opacity: 100%;
}

.News-Content{
  
    margin-right:100px;
    margin-left: 100px;
    opacity: 100%;
}

img{
    width: 100px;
    height:100px;
}

.button-container{
    margin-right: 5%;
    margin-left: 5%;
    float: right;
}

ul li{
    font-size: 25px;
}
button{

    background-color: lightseagreen;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    display:block;
    
    
}

footer div{
    background-color: gray;
}